body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ebeef1;
}

.titulo{
    background: linear-gradient(to right, #f7f7f7, #e3e3e3);
    padding: 8px 16px;
    font-weight: 600;
    border-bottom: 1px solid #c5c5c5;
}

.acoes{
    background: #f4f4f4;
    border-bottom: 1px solid #c5c5c5;
    padding: 6px 10px;
    display: flex;
    gap: 8px;
}

.acoes button{
    padding: 4px 10px;
    border: 1px solid #b0b0b0;
    background: #ffffff;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
}

.linha-colorida {
    height: 12px;
    width: 100%;
    background: repeating-linear-gradient(
        
    );
}

header {
    display: flex;
    padding: 10px;
    background-color: rgb(207, 207, 207);
    flex-direction: column;
}














































































































































































































*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI', sans-serif;
}

body{
background:#eef3fb;
color:#1f2d3d;
}

.header{
background:white;
padding:15px 40px;
display:flex;
justify-content:space-between;
align-items:center;
box-shadow:0 2px 6px rgba(0,0,0,0.05);
}

.nav ul{
list-style:none;
display:flex;
gap:20px;
}

.nav a{
text-decoration:none;
color:#2f63c6;
font-weight:500;
}

.container{
padding:30px 40px;
}

.grid{
display:grid;
grid-template-columns:2fr 1fr;
gap:20px;
}

.card{
background:#dce8f8;
border-radius:14px;
padding:20px;
box-shadow:0 3px 8px rgba(0,0,0,0.05);
}

.card-header{
display:flex;
justify-content:space-between;
margin-bottom:15px;
}

.card-header h3{
color:#1e4fa3;
}

.card-header a{
text-decoration:none;
color:#2f63c6;
font-size:13px;
}

.welcome-card{
display:flex;
justify-content:space-between;
align-items:center;
}

.welcome-left{
display:flex;
gap:20px;
align-items:center;
}

.welcome-left img{
width:140px;
}

.welcome-left h2{
color:#2f63c6;
}

.welcome-actions{
display:flex;
flex-direction:column;
gap:10px;
}

.welcome-actions button{
background:#2f63c6;
color:white;
border:none;
padding:10px 16px;
border-radius:25px;
font-size:12px;
font-weight:600;
cursor:pointer;
width:240px;
}

.secondary-btn{
margin-top:10px;
background:#2f63c6;
color:white;
border:none;
padding:8px 14px;
border-radius:20px;
font-size:12px;
}

table{
width:100%;
border-collapse:collapse;
background:white;
border-radius:8px;
}

th,td{
padding:10px;
font-size:14px;
text-align:left;
}

thead{
background:#e8f0fb;
}

.status{
padding:4px 8px;
border-radius:10px;
font-size:12px;
color:white;
}

.processing{
background:#2bb673;
}

.alert{
background:#f4b400;
}

.danger{
background:#e53935;
}

.products{
display:flex;
gap:20px;
flex-wrap: wrap;
}

.product{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align:center;
background:white;
padding:100px;
border-radius:10px;
width:120px;
height: 180px;
}

.product img{
width:80px;
height:80px;
object-fit:contain;
margin-bottom:8px;
}

.product p{
font-size:14px;
margin-bottom:4px;
}

.product span{
font-weight:600;
color:#000000;
}

.step{
width:20px;
height:20px;
border-radius:50%;
background:#cbd5e1;
}

.step.done{
background:#2bb673;
}

.step.current{
background:#2f63c6;
}

.message{
display:flex;
align-items:center;
gap:10px;
padding:10px;
background:white;
border-radius:8px;
margin-bottom:10px;
}

.message img{
width:40px;
height:40px;
border-radius:50%;
}

.footer{
text-align:center;
padding:20px;
margin-top:30px;
background:white;
font-size:14px;
color:#64748b;
}